body {background-color: gainsboro;
    background-color: gainsboro;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;    
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: small;
    width:10px;

}